<nb-layout *ngIf="!userExercise">
  <nb-layout-header>
    <h5>Wait..</h5>
  </nb-layout-header>
  <nb-layout-column [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="!ailment">
  </nb-layout-column>
</nb-layout>

<div class="row" *ngIf="userExercise">
  <div class="col-lg-4">
    <nb-card *ngIf="currentUser">
      <nb-card-header>
        <h2>Exercise: </h2>
        <h6>{{userExercise.exerciseName}} </h6>
      </nb-card-header>
      <nb-card-body>
        <p>ID: #{{currentUser.userId}}</p>
        <p>Name and surname: {{currentUser.userName}} {{currentUser.userSurname}}</p>
        <p>Your coach: {{userExercise.attendingCoach.userName}} {{userExercise.attendingCoach.userSurname}}</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-8">
    <nb-card *ngIf="currentUser">
      <nb-card-header>
        <h2>Brief description of the exercise:</h2>
      </nb-card-header>
      <nb-card-body>
        <p>{{userExercise.exerciseDescription}}</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>

        <nb-tabset fullWidth>
          <nb-tab tabTitle="Exercise description">
            <nb-card *ngFor="let exerciseDetails of userExercise.exerciseDetailsReadModel">
              <nb-card-header>{{exerciseDetails.exerciseDetailsHeader}} </nb-card-header>
              <nb-card-body>
                <p>{{exerciseDetails.exerciseDetailsDescription}}</p>
              </nb-card-body>
            </nb-card>
          </nb-tab>
          <nb-tab tabTitle="Messanger">
            <messenger [messageRoomId]="messengerMessageRoomId" [currentUser]="currentUser"></messenger>

          </nb-tab>
        </nb-tabset>

      </nb-card-body>
    </nb-card>
  </div>
</div>