<nb-card>
  <nb-card-header>Moje leczenia: </nb-card-header>
  <nb-card-body>

    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Lecznie nr.1
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
          <br />
          <button style="float: right; margin-top: 5px;" nbButton status="warning">Wyświetl</button>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Leczenie nr.2
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
          <br />
          <button style="float: right; margin-top: 5px;" nbButton status="warning">Wyświetl</button>
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Leczenie nr.3
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
          <br />
          <button style="float: right; margin-top: 5px;" nbButton status="warning">Wyświetl</button>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>