    <div class="row" *ngIf="ailment">
        <div class="col-lg-4">
            <nb-card *ngIf="currentUser">
              <nb-card-header><h2>Choroba: </h2>
                <h6>{{ailment.ailmentName}} </h6></nb-card-header>
              <nb-card-body>
                <p>Identyfikator: #{{currentUser.userId}}</p>
                <p>Imię i nazwisko: {{currentUser.userName}} {{currentUser.userSurname}}</p>
                <p>Twój fizjoterapeuta: {{ailment.attendingphysician.userName}} {{ailment.attendingphysician.userSurname}}</p>
              </nb-card-body>
            </nb-card>
          </div>
          <div class="col-lg-8">
            <nb-card *ngIf="user">
              <nb-card-header><h2>Krótki opis choroby:</h2></nb-card-header>
              <nb-card-body>
                <p>{{ailment.ailmentDescription}}</p>
              </nb-card-body>
            </nb-card>
          </div>
    <div class="col-lg-12">
        <nb-card>
            <nb-card-body>

                <nb-tabset fullWidth *ngIf="ailment">
                    <nb-tab tabTitle="Opis choroby">
                        <nb-card *ngFor="let note of ailment.ailmentNotes">
                            <nb-card-header>{{note.noteHeader}} </nb-card-header>
                            <nb-card-body>
                                <p>{{note.noteDescription}}</p>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>
                    <nb-tab tabTitle="Zalecenia">
                        <nb-card *ngFor="let indication of ailment.ailmentIndications">
                            <nb-card-header>{{indication.indicationHeader}} </nb-card-header>
                            <nb-card-body>
                                <p>{{indication.indicationDescription}}</p>
                            </nb-card-body>
                        </nb-card>
                    </nb-tab>
                    <nb-tab tabTitle="Pliki">
                      <file-manager [ailmentId]="ailmentId" [currentUser]="currentUser"></file-manager>
                    </nb-tab>
                    <nb-tab tabTitle="Rozmowa">
                      <messenger [messageRoomId] = "messengerMessageRoomId" [currentUser] = "currentUser"></messenger>
                  </nb-tab>
                </nb-tabset>

            </nb-card-body>
        </nb-card>
    </div>
</div>