<div class="d-flex justify-content-center">
    <nb-card>
        <nb-card-header>Resetowanie hasła</nb-card-header>
        <nb-card-body>
            <nb-alert status="success" closable (close)="onClose()" *ngIf="alertIsOpen">
                Wysłano link na twój adres email!
              </nb-alert>
            <div class="full-name-inputs">
                <label class="label" for="input-email">Email address:</label>
                <input type="text" nbInput fullWidth placeholder="Email-address" id="input-email" #userEmailReset="ngModel" [(ngModel)] = "userEmail">
                <br/><br/>
                <button style="float: right; margin-top: 1-px;" nbButton status="success" (click)="passwordReset()">Wyślij</button>
            </div>
        </nb-card-body>
      </nb-card>
      </div>1