<nb-card>
    <nb-card-body>

        <nb-tabset fullWidth>
            <nb-tab tabTitle="Opis choroby">
                <nb-card>
                    <nb-card-header>Dodaj notkę do choroby: </nb-card-header>
                    <nb-card-body>
              
                        <div class="full-name-inputs">
                            <input type="text" nbInput fullWidth placeholder="Nagłówek">
                            <br /><br />
                            <textarea nbInput fullWidth placeholder="Opis"></textarea>
                            <br /><br />
                            <button style="float: right; margin-top: 5px;" nbButton status="success">Dodaj</button>
                        </div>
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-header>Leczenie kostki(29.04.2021): </nb-card-header>
                    <nb-card-body>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </nb-card-body>
                </nb-card>
                <hr/>
                <nb-card>
                    <nb-card-header>Leczenie uda(09.02.2020): </nb-card-header>
                    <nb-card-body>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </nb-card-body>
                </nb-card>
                <hr/>
                <nb-card>
                    <nb-card-header>Leczenie kostki(15.11.2019): </nb-card-header>
                    <nb-card-body>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <nb-tab tabTitle="Zalecenia">
                <nb-card>
                    <nb-card-header>Dodaj zalecenia: </nb-card-header>
                    <nb-card-body>
              
                        <div class="full-name-inputs">
                            <input type="text" nbInput fullWidth placeholder="Nagłówek">
                            <br /><br />
                            <textarea nbInput fullWidth placeholder="Opis"></textarea>
                            <br /><br />
                            <button style="float: right; margin-top: 5px;" nbButton status="success">Dodaj</button>
                        </div>
                    </nb-card-body>
                </nb-card>
                <nb-card>
                    <nb-card-header>Ćwiczenia na lekkim ciężarze: </nb-card-header>
                    <nb-card-body>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                            and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                            leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                            with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                            publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </nb-card-body>
                </nb-card>
            </nb-tab>
            <nb-tab tabTitle="Pliki">
                <p>Pliki choroby</p>
            </nb-tab>
        </nb-tabset>

    </nb-card-body>
</nb-card>