<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <nb-card>
                <nb-card-header>
                    <h1 class="h5">Historia wizyt:</h1>
                </nb-card-header>
                <nb-card-body>
                    <table class="table table-dark" *ngIf="listOfProviderVisit">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nazwa</th>
                            <th scope="col">Czas trwania</th>
                            <th scope="col">Klient</th>
                            <th scope="col">Data wizyty</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let visit of listOfProviderVisit; index as i;">
                            <th scope="row">{{(i+1) + (page)*visitProviderPageSize}}</th>
                            <td>{{visit.userServiceTypeDTO.userServiceTypeName}}</td>
                            <td>{{visit.userServiceTypeDTO.userServiceTypeDuration}}</td>
                            <td>{{visit.userDTO.userName}} {{visit.userDTO.userSurname}}</td>
                            <td>{{visit.visitDate}} {{visit.userVisitTime}}</td>
                          </tr>
                        </tbody>
                      </table>
                      <div class="col-sm-12" style="padding: 10px;">
                        <button *ngIf="visibilityButtonPreview()" nbButton status="info" style="float: left;"(click)="decrementButton()">Poprzednia</button>
                        <button *ngIf="visibilityButtonNext()" nbButton status="info" style="float: right;"(click)="incrementButton()">Następna</button>
                    </div>
                </nb-card-body>
            </nb-card>
        </div>
    </div>
</div>