<div class="container">
    <div class="row">
      
        <div class="col-sm-6">
                <nb-card>
                    <nb-card-header>
                        <h1 class="h5">Selected date: {{ date | date }}</h1>
                    </nb-card-header>
                    <nb-card-body>
                        <nb-calendar [(date)]="date" [filter]="filter" (dateChange)="handleDateChange($event)"
                            >
                        </nb-calendar>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-sm-6" >
                <nb-card *ngIf="listOfWorkHour && listOfAvailableHour">
                    <nb-card-header>
                        <h1 class="h5">Dodaj godziny</h1>
                    </nb-card-header>
                    <nb-card-body>
                        <label>Od:</label>
                              <select class="select" placeholder="Select Showcase" (change)="onChangeHourFrom($event.target.value)" size="tiny">
                                <option [ngValue]="null" disabled>Wybierz godzine</option>
                                <option *ngFor="let hour of listOfAvailableHour" value="{{hour}}">{{hour}}</option>
                              </select>
                              <br/>
                              <label>Do:</label>
                              <select class="select" placeholder="Select Showcase"(change)="onChangeHourTo($event.target.value)"  size="tiny">
                                <option [ngValue]="null" disabled>Wybierz godzine</option>
                                <option *ngFor="let hour of listOfAvailableHour" value="{{hour}}">{{hour}}</option>
                              </select>
                              <br/>
                              <button nbButton status="primary" size="small" (click)="clickAdd()">Dodaj</button>
                        <br/><br/>
                        <table class="table table-dark">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Godzina start</th>
                                <th scope="col">Godzina koniec</th>
                                <th scope="col">Narzędzia</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let workHour of listOfWorkHour; let indexOfelement=index;">
                                <th scope="row">{{indexOfelement+1}}</th>
                                <td>{{workHour.userWorkHourBeginningTime}}</td>
                                <td>{{workHour.userWorkHourEndingTime}}</td>
                                <td><button nbButton status="danger" size="tiny" (click)="deleteWorkHour(workHour.idUserWorkHour)">usuń</button></td>
                              </tr>
                            </tbody>
                          </table>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-sm-6">
                <nb-card>
                    <nb-card-header>
                        <h1 class="h5">Twoje usługi</h1>
                    </nb-card-header>
                    <nb-card-body>
                        <label>Nazwa usługi:</label><br/>
                        <input  type="text" nbInput  #passwordReset="ngModel" [(ngModel)] = "serviceName"><br/><br/>
                        <label>Czas usługi:</label><br/>
                        <input type="number"  name="change" id="pennies" min="0" max="120" step="15" #serviceDurationModel="ngModel" [(ngModel)] = "serviceDuration"> min<br/><br/>
                        <button nbButton size="small" status="primary" (click)="addService()">Dodaj</button><br/><br/>

                        <table class="table table-dark" *ngIf="listOfService">
                            <thead>
                              <tr>
                                <th scope="col">#</th>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Czas trwania</th>
                                <th scope="col">Narzędzia</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let service of listOfService; let indexOfelement=index;">
                                <th scope="row">{{indexOfelement+1}}</th>
                                <td>{{service.userServiceTypeName}}</td>
                                <td>{{service.userServiceTypeDuration}}</td>
                                <td><button nbButton status="danger" size="tiny" (click)="deleteService(service.idUserServiceType)">usuń</button></td>
                              </tr>
                            </tbody>
                          </table>
                    </nb-card-body>
                </nb-card>
            </div>




    </div>
</div>
<script>
</script>