<div class="row">
  <div class="col-lg-8">
    <nb-card *ngIf="user">
      <nb-card-header>{{user.userName}} {{user.userSurname}}</nb-card-header>
      <nb-card-body>
        <p>Twój identyfikator: #{{user.userId}}</p>
        <p>Grupa: </p>
        <p>Adres e-mail: {{user.userEmail}}</p>
        <p>Twoje imie: {{user.userName}}</p>
        <p>Twoje nazwisko: {{user.userSurname}}</p>

      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card *ngIf="userGroups">
      <nb-card-header>Grupy: </nb-card-header>
      <nb-card-body>
        <p *ngFor="let group of userGroups; index as i">{{i+1}} Grupa: {{group.mygroupName}}</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card *ngIf="currentUser.userRoleDTO.roleName=='coach' || currentUser.userRoleDTO.roleName=='admin'">
      <!-- currentUser.userRoleDTO.roleName=='coach' || currentUser.userRoleDTO.roleName=='admin'" -->
      <nb-card-header>Add exercise: </nb-card-header>
      <nb-card-body>
        <nb-alert status="success" closable (close)="onClose()" *ngIf="alertCreateExerciseIsOpen">
          Exercise added!
        </nb-alert>
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="Exercise name" #name="ngModel"
            [(ngModel)]="exerciseWriteModel._exerciseName">
          <br /><br />
          <textarea nbInput fullWidth placeholder="Exercise short desc" #description="ngModel"
            [(ngModel)]="exerciseWriteModel._exerciseDescription"></textarea>
          <br /><br />
          <button style="float: right; margin-top: 5px;" nbButton status="success"
            (click)="createExercise()">Success</button>
        </div>
      </nb-card-body>
    </nb-card>
    <nb-card *ngIf="currentUser.userRoleDTO.roleName=='physiotherapist'">
      <nb-card-header>Add ailment: </nb-card-header>
      <nb-card-body>
        <nb-alert status="success" closable (close)="onClose()" *ngIf="alertCreateAilmentIsOpen">
          Ailment added!
        </nb-alert>
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="Ailment name" #name="ngModel"
            [(ngModel)]="ailment.ailmentName">
          <br /><br />
          <textarea nbInput fullWidth placeholder="Ailment short desc" #description="ngModel"
            [(ngModel)]="ailment.ailmentDescription"></textarea>
          <br /><br />
          <button style="float: right; margin-top: 5px;" nbButton status="success"
            (click)="createAilment()">Success</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Medical documentation: </nb-card-header>
      <nb-card-body>

        <nb-accordion multi>
          <nb-accordion-item *ngFor="let ailment of ailments">
            <nb-accordion-item-header>
              {{ailment.ailmentName}} <button nbButton *ngIf="isAilmentOwner(ailment.attendingphysician)" size="tiny" status="warning" disabled> access</button>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              {{ailment.ailmentDescription}}
              <br />
              <button style="float: right; margin-top: 5px;" nbButton status="warning"
                (click)="goToAilment(ailment.idailment)">View</button>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Motor documentation: </nb-card-header>
      <nb-card-body>

        <nb-accordion multi>
          <nb-accordion-item *ngFor="let exercise of userExercise">
            <nb-accordion-item-header>
              {{exercise.exerciseName}} <button nbButton *ngIf="isExerciseOwner(exercise.attendingCoach)" size="tiny" status="warning" disabled> access:</button>
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              {{exercise.exerciseDescription}}
              <br />
              <button style="float: right; margin-top: 5px;" nbButton status="warning"
                (click)="goToExercise(exercise.idexerciseBook)">View</button>
            </nb-accordion-item-body>
          </nb-accordion-item>
        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </div>
</div>