<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">fizjo-<span>node</span></a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">
    <nb-action class="control-item" icon="email-outline" [nbPopover]="list"nbPopoverPlacement="bottom"></nb-action>
  </nb-actions>
</div>

<ng-template #list>
  <nb-card class="margin-bottom-0">
    <nb-card-header>Wiadomości</nb-card-header>
    <nb-list>
      <nb-list-item>Nowa wiadomość od - Błażej Tomaszowski</nb-list-item>
      <nb-list-item>Nowa wiadomość od - Błażej Tomaszowski</nb-list-item>
      <nb-list-item>Dodano chorobę do Twojego konta!</nb-list-item>
      <nb-list-item>Nowa wiadomość od - Błażej Tomaszowski</nb-list-item>
    </nb-list>
  </nb-card>
</ng-template>