<nb-layout  *ngIf="!user" >
  <nb-layout-header><h5>Wait..</h5></nb-layout-header>
  <nb-layout-column [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="!user">
  </nb-layout-column>
</nb-layout>

<div class="row"  *ngIf="user" >
  <div class="col-lg-6">
    <nb-card *ngIf="user">
      <nb-card-header>{{user.userName}}s</nb-card-header>
      <nb-card-body>
        <p>Twój identyfikator: #{{user.userId}}</p>
        <p>Grupa: </p>
        <p>Twój fizjoterapeuta: </p>
        <p>Adres e-mail: {{user.userEmail}}</p>
        <br/><br/>
        <p>Twoje imie: {{user.userName}}</p>
        <p>Twoje nazwisko: {{user.userSurname}}</p>
      
      </nb-card-body>
    </nb-card>
  </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Dane osobowe: </nb-card-header>
        <nb-card-body>

          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Imię">
            <input type="text" nbInput fullWidth placeholder="Nazwisko">
            <input nbInput
               placeholder="Data urodzenia"
               [nbDatepicker]="formpicker">
        <nb-datepicker #formpicker></nb-datepicker>
        <br/>
        <button style="float: right; margin-top: 5px;" nbButton status="success">Success</button>
          </div>
        </nb-card-body>
      </nb-card>
      <nb-card>
        <nb-card-header>Zmień hasło: </nb-card-header>
        <nb-card-body>

          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Stare hasło">
            <input type="text" nbInput fullWidth placeholder="Nowe hasło">
            <input type="text" nbInput fullWidth placeholder="Powtórz nowe hasło">
        <br/>
        <button style="float: right; margin-top: 5px;" nbButton status="info">Zmień hasło</button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
    <div class="col-lg-12">
      <button  nbButton status="success" (click)="start()">Test przesyłu</button>
  </div>
  
  </div>
  