<button *ngIf="hasPastMessage()" nbButton status="primary" size="tiny" (click)="loadPastMessage()" style="margin-bottom: 10px;">Load previous conversations(remaining: {{numberOfMessages-(page*pageSize)}})</button>
<button  nbButton status="warning" size="tiny" (click)="refreshMessage()" style="margin-bottom: 10px;">Refresh (state for {{lastRefreshTime |date: 'dd.MM.yyyy HH:mm:ss'}})</button>
<nb-chat title="Conversation window">
    <nb-chat-message *ngFor="let msg of messages"
                     [dateFormat]="msg.dateFormat"
                     [type]="msg.type"
                     [message]="msg.text"
                     [reply]="msg.reply"
                     [sender]="msg.user.name"
                     [date]="msg.date"
                     [files]="msg.files"
                     [quote]="msg.quote"
                     [latitude]="msg.latitude"
                     [longitude]="msg.longitude"
                     [avatar]="msg.user.avatar">
</nb-chat-message>

<nb-chat-form (send)="sendMessage($event)" [dropFiles]="false">
</nb-chat-form>
</nb-chat>