<div class="row">
    <div class="col-lg-12">
      <nb-card *ngIf="user">
        <nb-card-header>{{user.userName}} {{user.userSurname}}</nb-card-header>
        <nb-card-body>
          <p>Twój identyfikator: #{{user.userId}}</p>
          <p>Grupa: </p>
          <p>Adres e-mail: {{user.userEmail}}</p>
          <p>Twoje imie: {{user.userName}}</p>
          <p>Twoje nazwisko: {{user.userSurname}}</p>
        
        </nb-card-body>
      </nb-card>
      </div>
      <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Dodaj leczenie: </nb-card-header>
            <nb-card-body>
    
                <div class="full-name-inputs">
                    <input type="text" nbInput fullWidth placeholder="Nazwa leczenia" #name="ngModel" [(ngModel)] = "ailment.ailmentName">
                    <br /><br />
                    <textarea nbInput fullWidth placeholder="Krótki opis leczenia" #description="ngModel" [(ngModel)] = "ailment.ailmentDescription"></textarea>
                    <br /><br />
                    <button style="float: right; margin-top: 5px;" nbButton status="success" (click)="createAilment()">Success</button>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-lg-12">
        <nb-card>
            <nb-card-header>Moje leczenia: </nb-card-header>
            <nb-card-body>
          
              <nb-accordion multi>
                <nb-accordion-item *ngFor="let ailment of ailments">
                  <nb-accordion-item-header>
                    {{ailment.ailmentName}}
                  </nb-accordion-item-header>
                  <nb-accordion-item-body>
                    {{ailment.ailmentDescription}}
                    <br />
                    <button style="float: right; margin-top: 5px;" nbButton status="warning">Wyświetl</button>
                  </nb-accordion-item-body>
                </nb-accordion-item>
              </nb-accordion>
            </nb-card-body>
          </nb-card>
    </div>
 </div>  
