<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <nb-card>
                <nb-card-header>
                    <h1 class="h5">Selected date: {{ date | date }}</h1>
                </nb-card-header>
                <nb-card-body>
                    <nb-calendar [(date)]="date"  (dateChange)="handleDateChange($event)" size="small">
                    </nb-calendar>
                </nb-card-body>
            </nb-card>
        </div>

        <div class="col-sm-8">
            <nb-card>
                <nb-card-header>
                    <h1 class="h5">Visits per day: {{ date | date }}</h1>
                </nb-card-header>
                <nb-card-body>
                    <table class="table table-dark" *ngIf="visitListForChosenDay">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Time of booking</th>
                            <th scope="col">Type of reservation</th>
                            <th scope="col">Time of service</th>
                            <th scope="col">Name and surname</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let visit of visitListForChosenDay; let indexOfelement=index;">
                            <th scope="row">{{indexOfelement+1}}</th>
                            <td>{{visit.userVisitTime}}</td>
                            <td>{{visit.userServiceTypeDTO.userServiceTypeName}}</td>
                            <td>{{visit.userServiceTypeDTO.userServiceTypeDuration}}</td>
                            <td>{{visit.userDTO.userName}} {{visit.userDTO.userSurname}}</td>
                          </tr>
                        </tbody>
                      </table>
                </nb-card-body>
            </nb-card>
        </div>
        <div class="col-sm-12">
            <nb-card>
                <nb-card-header>
                    <h1 class="h5">Visits for approval:</h1>
                </nb-card-header>
                <nb-card-body>
                  <nb-alert status="success" closable (close)="onClose()" *ngIf="alertChangeVisitStatus">
                    Status Changed!
                  </nb-alert>
                    <table class="table table-dark">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Booking date</th>
                            <th scope="col">Time of booking</th>
                            <th scope="col">Type of reservation</th>
                            <th scope="col">Time of service</th>
                            <th scope="col">Name and surname</th>
                            <th scope="col">Tools</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let visit of visitToAccept; let indexOfelement=index;">
                            <th scope="row">{{index}}</th>
                            <td>{{visit.visitDate | date}}</td>
                            <td>{{visit.userVisitTime}}</td>
                            <td>{{visit.userServiceTypeDTO.userServiceTypeName}}</td>
                            <td>{{visit.userServiceTypeDTO.userServiceTypeDuration}}</td>
                            <td>{{visit.userDTO.userName}} {{visit.userDTO.userSurname}}</td>
                            <td><button nbButton status="danger" size="tiny" (click)="changeVisitStatus(visit.idUserVisit, 2)">Cancel</button>
                                <button nbButton status="success" size="tiny" (click)="changeVisitStatus(visit.idUserVisit, 1)">Accept</button>
                            </td>
                            </tr>
                        </tbody>
                      </table>
                </nb-card-body>
            </nb-card>
        </div>




    </div>
</div>