<div class="d-flex justify-content-center">
<nb-card>
    <nb-card-header>Log in</nb-card-header>
    <nb-card-body>
        <div class="full-name-inputs">
            <label class="label" for="input-email">Email address:</label>
            <input type="text" nbInput fullWidth placeholder="Email-address" id="input-email" #userEmail="ngModel" [(ngModel)] = "user.userEmail">
            <br /><br />
            <label class="label" for="input-password">Password:</label>
            <input type="password" nbInput fullWidth placeholder="Password" id="input-password" #userPassword="ngModel" [(ngModel)] = "user.userPassword">
            <br /><br />
            <button style="float: right; margin-top: 5px;" nbButton status="success" (click)="login()">Success</button>
        </div>
        <!-- <label class="label" for="input-email">Email address:</label>
        <p><input type="text" nbInput fullWidth fieldSize="medium" placeholder="Email address" id="input-email" [(ngModel)]="user.userName" #username="ngModel"></p>
        <label class="label" for="password">Password:</label>
        <p><input type="text" nbInput fullWidth fieldSize="medium" [(ngModel)]="user.userPassword" #password="ngModel" placeholder="Password" id="password" type="password"></p>
        <button nbButton status="success" size="large" style="float: right;">Loguj</button> -->
    </nb-card-body>
    <nb-card-footer>If you do not have an account, please register</nb-card-footer>
  </nb-card>
  </div>
