<div class="d-flex justify-content-center">
    <nb-card>
        <nb-card-header *ngIf="alertIsOpen">
             <nb-alert status="success" closable (close)="onClose()" *ngIf="alertIsOpen">
                You have successfully changed your password, please log in to your account 
          </nb-alert>
        </nb-card-header>
        <nb-card-header *ngIf="!alertIsOpen">Password reset</nb-card-header>
        <nb-card-body>
            <div class="full-name-inputs" *ngIf="!alertIsOpen">
                <label class="label" for="input-password">Password:</label>
                <input type="password" nbInput fullWidth placeholder="Hasło" id="input-password" #passwordReset="ngModel" [(ngModel)] = "password">
                <br/><br/>
                <label class="label" for="input-confirm-password">Confirm password:</label>
                <input type="password" nbInput fullWidth placeholder="Powtórz hasło" id="input-confirm-password" #passwordConfirmReset="ngModel" [(ngModel)] = "confirmPassword">
                <br/><br/>
                <button style="float: right; margin-top: 1-px;" nbButton status="success" (click)="passwordChange()">Send</button>
            </div>
            <div class="d-flex justify-content-center" *ngIf="alertIsOpen">
                <button nbButton status="primary" size="giant" (click)="toLoginPage()">Log in</button>
            </div>
        </nb-card-body>
      </nb-card>
      </div>1