<nb-layout  *ngIf="!currentUser" >
  <nb-layout-header><h5>Wait..</h5></nb-layout-header>
  <nb-layout-column [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="!user">
  </nb-layout-column>
</nb-layout>

<div class="row"  *ngIf="currentUser" >
  <div class="col-lg-6">
    <nb-card *ngIf="currentUser">
      <nb-card-header>{{currentUser.userName}} {{currentUser.userSurname}}</nb-card-header>
      <nb-card-body>
        <p>Twój identyfikator: #{{currentUser.userId}}</p>
        <p>Adres e-mail: {{currentUser.userEmail}}</p>
        <br/><br/>
        <p>Twoje imie: {{currentUser.userName}}</p>
        <p>Twoje nazwisko: {{currentUser.userSurname}}</p>
        <p>Data urodzenia: {{currentUser.userDob}}</p>
      </nb-card-body>
    </nb-card>
  </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Zmień hasło: </nb-card-header>
        <nb-card-body>
          <nb-alert status="success" closable (close)="onClose()" *ngIf="alertPasswordChange">
            Zmieniono hasło!
          </nb-alert>
          <nb-alert status="danger" closable (close)="onClose()" *ngIf="alertPasswordChangeError">
            Błędne hasło !
          </nb-alert>
          <nb-alert status="danger" closable (close)="onClose()" *ngIf="alertPasswordChangeCompareError">
            Podane nowe hasła różnią się!
          </nb-alert>
          <div class="full-name-inputs">
            <input type="text" nbInput fullWidth placeholder="Stare hasło" #oldPassword="ngModel" [(ngModel)]="passwordChangeModel._oldPassword">
            <input type="text" nbInput fullWidth placeholder="Nowe hasło" #newPassword="ngModel" [(ngModel)]="passwordChangeModel._newPassword">
            <input type="text" nbInput fullWidth placeholder="Powtórz nowe hasło" #PasswordRepeat="ngModel" [(ngModel)]="newPasswordRepeat">
        <br/>
        <button style="float: right; margin-top: 5px;" nbButton status="info" (click)="changePassword()">Zmień hasło</button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  