<nb-layout  *ngIf="!currentUser" >
  <nb-layout-header><h5>Wait..</h5></nb-layout-header>
  <nb-layout-column [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="!user">
  </nb-layout-column>
</nb-layout>

<div class="row"  *ngIf="currentUser" >
  <div class="col-lg-6">
    <nb-card *ngIf="currentUser">
      <nb-card-header>{{currentUser.userName}} {{currentUser.userSurname}}</nb-card-header>
      <nb-card-body>
        <p>Your identifier: #{{currentUser.userId}}</p>
        <p>E-mail address: {{currentUser.userEmail}}</p>
        <br/><br/>
        <p>Your name: {{currentUser.userName}}</p>
        <p>Your surname: {{currentUser.userSurname}}</p>
        <p>Date of birth: {{currentUser.userDob}}</p>
      </nb-card-body>
    </nb-card>
  </div>
    <div class="col-lg-6">
      <nb-card>
        <nb-card-header>Change password: </nb-card-header>
        <nb-card-body>
          <nb-alert status="success" closable (close)="onClose()" *ngIf="alertPasswordChange">
            Password changed!
          </nb-alert>
          <nb-alert status="danger" closable (close)="onClose()" *ngIf="alertPasswordChangeError">
            Incorrect password !
          </nb-alert>
          <nb-alert status="danger" closable (close)="onClose()" *ngIf="alertPasswordChangeCompareError">
            The new passwords given are different!
          </nb-alert>
          <div class="full-name-inputs">
            <input type="password" nbInput fullWidth placeholder="Old password" #oldPassword="ngModel" [(ngModel)]="passwordChangeModel._oldPassword">
            <input type="password" nbInput fullWidth placeholder="New password" #newPassword="ngModel" [(ngModel)]="passwordChangeModel._newPassword">
            <input type="password" nbInput fullWidth placeholder="Confirm new password" #PasswordRepeat="ngModel" [(ngModel)]="newPasswordRepeat">
        <br/>
        <button style="float: right; margin-top: 5px;" nbButton status="info" (click)="changePassword()">Change password</button>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
  