<nb-layout  *ngIf="!group" >
  <nb-layout-header><h5>Wait..</h5></nb-layout-header>
  <nb-layout-column [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="!user">
  </nb-layout-column>
</nb-layout>
<div class="row" *ngIf=group>
  <div class="col-lg-12">
    <nb-card >
      <nb-card-header><h3>Group name: "{{group.mygroupName}}"</h3></nb-card-header>
      <nb-card-body>
        <h6>Group description:</h6> <p>{{group.mygroupDescription}}</p>
        <h6>Group owner:</h6> <p>{{group.mygroupFounder}}</p>
        <button nbButton status="danger" size="tiny" style="float: right;" (click)="deleteGroup(group)">Delete group</button>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Add user: </nb-card-header>
      <nb-card-body>

        <div class="full-name-inputs">
          <nb-alert status="danger" closable (close)="onClose()" *ngIf="alertSearchUser">
            User not found
          </nb-alert>
          <div *ngIf="!searchUserList">
          <input type="text" nbInput fullWidth #searchUser="ngModel" [(ngModel)] = "searchUserFiltr" placeholder="ID/e-mail">
          <br />
          <button style="float: right; margin-top: 5px;" nbButton status="success" (click)="findUser()">Search</button><br/><br/>
        </div>
        <button *ngIf="searchUserList" nbButton size="tiny" status="danger" style="margin-bottom: 5px;"(click)="closeSearchUserList()">X<sub>{{searchUserFiltr}}</sub></button>
        <nb-alert status="success" closable (close)="onClose()" *ngIf="alertAddUser">
          User added!
        </nb-alert>
          <table *ngIf="searchUserList" class="table table-dark" style="margin-top: 5px !important;">
            <thead>
              <tr>
                <th scope="col">E-mail</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Date of birth</th>
                <th scope="col">Tools</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of searchUserList; index as i;">
                <td>{{user.userEmail}}</td>
                <td>{{user.userName}}</td>
                <td>{{user.userSurname}}</td>
                <td>{{user.userDob}}</td>
                <td><button nbButton size="small" status="success"(click)="addUserToGroup(user.userId)">Add</button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>
        Rename the group: </nb-card-header>
      <nb-card-body>
        <nb-alert status="success" closable (close)="onClose()" *ngIf="alertIsOpen">
          The group name has been changed!
        </nb-alert>
        <div class="full-name-inputs">
          <input type="text" nbInput fullWidth placeholder="Name of group" #name="ngModel" 
          [(ngModel)]="groupServiceObj.mygroupName">
          <br /><br />
          <textarea nbInput fullWidth placeholder="Short description of group" #description="ngModel" 
          [(ngModel)]="groupServiceObj.mygroupDescription"></textarea>
          <br /><br />
          <button style="float: right; margin-top: 5px;" nbButton status="success" (click)="changeGroupInfo()">Change</button>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-12">
    <nb-card class="list-card" size="small">
      <nb-card-header>Users:</nb-card-header>
      <nb-alert status="danger" closable (close)="onClose()" *ngIf="alertRemoveUser">
        User deleted!
      </nb-alert>
      <nb-list>
        <nb-list-item *ngFor="let user of userList">
          <nb-user [name]="user.userName + ' ' + user.userSurname" [title]="user.userRole">
          </nb-user>
          <button style="float: right;" nbButton status="warning" (click)="goToUserManagement(user.userId)">Go to</button>
          <button style="float: right;" nbButton status="danger" (click)="removeUserFromGroup(user.userId)">Delete</button>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div>