
<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Moje leczenia: </nb-card-header>
      <nb-card-body >
        <nb-layout  *ngIf="!ailments" >
          <nb-layout-header><h8>Wait..</h8></nb-layout-header>
          <nb-layout-column [nbSpinner]="true" nbSpinnerSize="giant" nbSpinnerStatus="primary" *ngIf="!user">
          </nb-layout-column>
        </nb-layout>
        <nb-accordion multi>
          <nb-accordion-item *ngFor="let ailment of ailments" >
            <nb-accordion-item-header>
              {{ailment.ailmentName}}
            </nb-accordion-item-header>
            <nb-accordion-item-body>
              {{ailment.ailmentDescription}}
              <br />
              <button style="float: right; margin-top: 5px;" nbButton status="warning">Wyświetl</button>
            </nb-accordion-item-body>
          </nb-accordion-item>

        </nb-accordion>
      </nb-card-body>
    </nb-card>
  </div>
</div>