<div class="row">
<div class="col-lg-6">
    <nb-card>
        <nb-card-header>Dodaj użytkownika: </nb-card-header>
        <nb-card-body>

            <div class="full-name-inputs">
                <input type="text" nbInput fullWidth placeholder="Identyfikator/e-mail">
                <br /><br />
                <button style="float: right; margin-top: 5px;" nbButton status="success">Dodaj</button>
            </div>
        </nb-card-body>
    </nb-card>
</div>
<div class="col-lg-6">
  <nb-card>
      <nb-card-header>Zmień nazwę grupy: </nb-card-header>
      <nb-card-body>

          <div class="full-name-inputs">
              <input type="text" nbInput fullWidth placeholder="Nazwa grupy">
              <br /><br />
              <textarea nbInput fullWidth placeholder="Krótki opis grupy"></textarea>
              <br /><br />
              <button style="float: right; margin-top: 5px;" nbButton status="success">Success</button>
          </div>
      </nb-card-body>
  </nb-card>
</div>
<div class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card class="list-card" size="small">
    <nb-card-header>Użytkownicy:</nb-card-header>
    <nb-list>
      <nb-list-item *ngFor="let user of x">
        <nb-user [name]="user.name" [title]="user.title">
        </nb-user>
        <button style="float: right;" nbButton status="warning">Przejdź</button>
        <button style="float: right;" nbButton status="danger">Usuń</button>
      </nb-list-item>
    </nb-list>
  </nb-card>
</div>
</div>